html {
    min-width: 1280px;
    background: #e4e4e4;
}

#wrap {}

#wrapper {
    a:active {
        font-weight: normal;
    }

    h1,
    h2,
    h3 {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 24px;
    }

    #loginForm {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .breadcrumb {
        margin-bottom: 0;

        a:active {
            font-weight: normal;
        }
    }

    .table {
        margin-top: 10px;
        margin-bottom: 10px;

        thead {
            tr {
                background-color: #d4a0ff;

                th {
                    border: 0;
                    line-height: 14px;
                    font-size: 14px;
                }
            }
        }

        tbody {
            tr {
                td {
                    border: 0;
                    line-height: 32px;
                    font-size: 14px;
                }
            }

            tr:nth-child(odd) {
                background-color: #e7cbff;
            }

            tr:nth-child(even) {
                background-color: #f5e9ff;
            }
        }
    }

    .alert {
        margin-top: 10px;
        margin-bottom: 0;
    }
}

#kpi {
    .kpi-number {
        border: solid 1px #000;
        display: inline-block;
        padding: 5px;
    }

    .table.table-kpi {
        thead > tr {
            background-color: #fde6d4;

            th {
                border: solid 1px #000;
            }

            th:first-child {
                width: 80%;
                text-align: center;
            }

            th:last-child {
                width: 20%;
                text-align: center;
            }
        }

        tbody > tr {
            td {
                line-height: 14px;
                border: solid 1px #000;
            }
        }

        tbody > tr.level-1 {
            background-color: #e8efd9;
        }

        tbody > tr.level-2 {
            background-color: #5affff;
        }

        tbody > tr.level-3 {
            background-color: #fff;
        }
    }
}
